{% extends "layout.html" %}

{% block title %}
{{ filename }}
{% endblock %}

{% block body %}
<h1>{{ filename }}</h1>
<div class="editor">
  {{ content | safe }}
<form id="editor-form" method="POST" class="editor">
    <input type="hidden" name="action" value="append">
    <textarea autofocus id="line" name="line"></textarea>
    <button type="submit" style="display:none"></button>
</form>
<form id="backspace-form" method="POST" class="editor">
    <input type="hidden" name="action" value="backspace">
</form>

</div>
<a href="/">Close File</a>
<script src="../static/js/editor.js"></script>
{% endblock %}
