{% extends "layout.html" %}

{% block title %}
Start
{% endblock %}

{% block body %}

<h1>AME</h1>
<p><i>Another Markdown Editor</i></p>
<h3>Welcome, {{ username }}!</h3>

<div class="file-tree">	
	<form method="post">
    		<input name="filename" type="text" placeholder="Enter filename..." autofocus>
    		<button type="submit" name="action" value="new_file">New File</button>
	</form>
	{% for file in files %}
	<div class="file-tree-item">	

		<a href="/editor/{{ file }}">{{ file }}</a>
		<form method="post">
    			<button type="submit" name="action" value="{{ file }}">Delete</button>
		</form>
	</div>
	{% endfor %}
</div>

<form method="post" class="logout">
    <button type="submit" name="action" value="logout">Logout</button>
</form>

{% endblock %}
